/* Header */
@media (max-width: 767px) {
    .hamburger-menu {
        display: block; 
        background-color: var(--background-color);
        color: var(--text-color);
        border: none;
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #nav-links {
        display: none; 
        flex-direction: column; 
        background-color: var(--primary-color); 
        position: absolute;
        top: 60px; 
        right: 0;
        width: 100%;
        z-index: 10;
    }

    #nav-links li {
        text-align: center;
        flex-direction: column;
        padding: 10px 0;
    }
}

@media (min-width: 768px) {
    .hamburger-menu {
        display: none;
    }

    .menu-overlay {
        display: none; 
    }

    nav {
        display: flex;
        gap: 1rem;
        position: static;
    }

    nav ul {
        display: flex;
        list-style: none;
        gap: 1rem;
    }

    nav a {
        color: white;
        font-size: 1rem;
        text-decoration: none;
    }
}